<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScreenLightSpreader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ScreenLightSpreader.Properties.Settings>
            <setting name="IpAdress" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoConnectOnOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PortNumber" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="Buffertime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LightsOffOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaturationMultiplier" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </ScreenLightSpreader.Properties.Settings>
    </userSettings>
</configuration>